 <h5 style="width: 90px; margin:30px 0 20px 200px;">会員一覧</h5>
 <div class="container">
  <div class="row py-4 px-auto">
      <table class="table table-bordered ">
       <thead class="table-active">
         <tr>
           <th>企業名</th>
           <th>メッセージ</th>
         </tr>
       </thead>
       <% @customer.each do |customer| %>
      <tr>
        <td><%= customer.enterprise_name %></td>
        <td><%= link_to "メッセージを確認", admin_contact_path(customer.id)%></td>
      </tr>
       <% end %>
      </table>
  </div>
</div>